@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,700&display=swap');

body{
    margin: 0px;
}



.container{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;    
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    background-color: #9973E9;
    
}


.box{
    border-color: black;
    border-style: outset;
    background-color: rgba(255, 202, 239, 0.89);
    padding-bottom: 15%;
    padding: 3%;
    padding-top: 1%;
    width: 350px;
    box-shadow: 0 5px 10px;
    gap: 25px;
}



.title{
    margin-bottom: 35%;
    margin-top: 0%;
    font-size: 60px;
    font-weight: 700;
    font-style: italic;
}


.boxRespostas{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    
}




.btn-resposta{
    justify-content: center;
    width: 30vh;
    border-radius: 20px;
    font-size: 1rem;
    padding: 10px;
    transition: 1s ease-out 100ms;
    background-color: #f4f4f4;
}







.iconsTop{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 6%;
    margin-top: 6%;
    
    
    
}


.boxQuestion{
    border-style: outset;
    border-color: black;
    margin-bottom: 10px;
    padding: 5%;
    /* flex-basis: 90%; */
    width: 90%;
    height: 90%;
    text-align: center;
    font-size: 80%;
    border-radius: 15px;
    flex-direction: column;
    background-color: #f4f4f4;
    color: #503DC6;
}


.boxAll{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}


.pontos{
    border-color: black;
    background-color: #f4f4f4;
    padding: 1%;
    padding-left: 10px;
    padding-right: 10px;
    border-style: outset;
    border-radius: 10px;
    font-size: 14px;
}


#link-end{
    text-decoration: none;
    color: #503DC6
    
}





#next{
    border-style: outset;
    border-radius: 15px;
    padding: 10px;
    background-color: #f4f4f4;
    color: #503DC6;
    transition: background-color 1s ease-out 100ms;
    opacity: 0;

}

#next:hover{
    background-color: #6639c7;
    color: #f4f4f4;
}