@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,700&display=swap');

body{
    margin: 0px;
}













.container{
    display: flex;
    width: 100vw;
    height: 100vh;    
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    background-color: #9973E9;
    
}


.box{
    display:flex;
    border-color: black;
    border-style: outset;
    background-color:#F4F4F4;
    flex-wrap: wrap;
    height: 500px;
    padding-bottom: 15%;
    padding: 5%;
    padding-top: 0;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 5px 10px #9973E9;
    margin: 0px;
    color: #503DC6;
    
    gap: 10%;
}



table{
    width: 100px;
    border: 1px solid;
    text-align: center;
    border-collapse: collapse;
    border-radius: 20px;
    color: black;
    
}


thead{
    font-weight: 700px;
}

th{
    padding: 10px;
    font-size: 20px;
}


td{
    border: solid;
    border-width: 1px;
    padding: 5px;
}



#btn-back{
    width: 200px;
    border-radius: 10px;
    border-width: 2px;
    color: #F4F4F4;
    font-size: 20px;
    background-color: #9973E9;

}


